.free-case{

}
.case-demonstrate{
    text-align: center;
    padding-bottom: 40px;
}

.list{
    background: rgba(249, 249, 249, 1);
    .item{
        padding: 30px 40px;
        .inner-left{

        }
        .inner-right{

        }
    }
}
