.logo{
    position: absolute;
    left: 0;
    width: 70px;
    background-color: #0036fc;
    height: 100%;
    z-index: 10;
    .logo-container{
        width: 100%;
        padding: 10px 16px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}
